body, html {
	margin: 0;
	padding: 0;
}

.color4 {
	background-color: #78da17;
}

 .backsplashimg {
	background:url("../images/sandia2.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 80vh;
}
@media only screen and (min-width: 768px) {
	.backsplashimg {
		background-position: bottom center;
	}
}

.color1 {
	background-color: #aada28;
}

.color2{
	background-color: #dace1a;
}

