body, html {
	margin: 0;
	padding: 0;
}

.backgroundimg {
	background-image:url("../images/sandi1.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 100vh;
}